<h1>New Page</h1>
<p class="pull-right actionbtn"><%= link_to "back to pages", admin_pages_path, :class => "btn btn-default" %></p>
<div class="clearfix"></div>

<%= form_for(:page, :url => admin_pages_path, :html => {:multipart => true, :class => 'form-horizontal', :role => 'form'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f=>f} %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
<% end %>

