<h1>Blogs</h1>

<table class="table">
<% for blog in @blogs %>
  <tr>
    <td>
      <%= link_to blog.title, admin_blogs_path(blog.id) %>
    </td>
    <td align="right">
      <%= link_to "edit", edit_admin_blog_path(blog.id), :class => 'btn btn-primary btn-xs' %> 
      <%= button_to "delete", admin_blog_path(blog.id), :method=>:delete, :class=> 'btn btn-primary btn-xs', :form_class => 'form-delete' %>
    </td>
  </tr>
<% end %>
</table>

